body{
    background:#990000;
}

.table{
    background: #f1f0f0;

}

.mb-3{
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 500px;
    
}

.texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background:#f1f0f0;
    width: 50%;
    height: 250px;
    margin: auto;
}

.nav{
    text-decoration-color: #f1f0f0;
}

h1{
    text-align: center;
    height: 80pxpx;
}